.main {
    h2 {
        margin-bottom: 0.3em;
    }

    section {
        margin-bottom: 0.3em;
    }

    input {
        margin-left: 0.3em;
    }

    button {
        margin-right: 0.3em;
    }
}

.description {
    color: #61708b;
}

.inputField {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}