:root {
    --background-color: #f2f5f8;
    --foreground-color: #45474a;
}

// @media (prefers-color-scheme: dark) {
//     :root {
//         --background-color: #111111;
//         --foreground-color: #f2f5f8;
//     }
// }
  
#root {
    background-color: var(--background-color);
    color: var(--foreground-color);
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    font-family: 'Inter', 'Twemoji', 'Apple Color Emoji', 'Segoe UI Emoji', 'Arial', 'Helvetica', sans-serif, 'Noto Color Emoji';
}

body {
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
}